<div class="container">
  <h2>Enter your activity</h2>
  <form>
    <div id="calendar">
      <h4>Select a date</h4>
    </div>
    {{! <div class="form-floating">
      <label for="activitySelect">Please choose an activity</label>
      <select
        class="form-select"
        id="activitySelect"
        aria-label="Floating label select example"
      >
        <option selected>Select Your Activity</option>
        <option value="Running">Running</option>
        <option value="Biking">Biking</option>
        <option value="Swi">Swimming</option>
      </select>

    </div> }}
    <div class="input-group input-group-sm mb-3">
      <span
        class="input-group-text"
        id="inputGroup-sizing-sm"
      >Duration(minutes):</span>
      <input
        type="text"
        class="form-control"
        id="duration"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <span
        class="input-group-text"
        id="inputGroup-sizing-sm"
      >Distance(miles):</span>
      <input
        type="text"
        class="form-control"
        id="distance"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
    </div>
    {{! <div class="form-floating">
      <select
        class="form-select"
        id="intensity"
        aria-label="Floating label select example"
      >
        <option selected>Select Intensity Level</option>
        <option value="1">1 - Some heavy breathing...</option>
        <option value="2">2 - Things were heating up...</option>
        <option value="3">3 - Got my sweat on!</option>
        <option value="4">4 - Feel the high!</option>
        <option value="5">5 - No one can stop me!!</option>
      </select>
      <label for="intensity">Please choose intensity</label>
    </div> }}
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Weigh
        In:(optional)</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
      />
    </div>
    <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>
  </form>
</div>

<script src="/js/activitylog.js"></script>