<div id="editprofile">
  <h2>Edit Your Profile</h2>
  <form>
    <!--Image upload to eventually go here-->
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Age</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        id="age-input"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Location</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        id="location-input"
      />
    </div>
    <h3>Basic Health Information</h3>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Height</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        id="height-input"
      />
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Starting Weight</span>
      <input
        type="text"
        class="form-control"
        aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-sm"
        id="starting-weight-input"
      />
    </div>
    {{! <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Your Current Fitness Level</option>
            <option value="1">Couch Potato</option>
            <option value="2">Sunday Walker</option>
            <option value="3">Not Afraid to Sweat</option>
            <option value="4">See Me at the Gym</option>
            <option value="5">Somewhat of a Professional</option>
          </select>
          <label for="floatingSelect">Please choose</label>
        </div> }}
    <button class="btn btn-primary" id="saveProfileBtn">Save Profile</button>
    <button class="btn btn-primary" id="cancelChangesBtn">Cancel Changes</button>
  </form>

</div>

<script src="/js/editprofile.js"></script>