<div id="editprofile">
   <h2>Edit Your Profile</h2>
    <h3>Basic Information</h3>
    <form>
      <!--Upload Image-->
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupFile01">Upload</label>
        <input type="file" class="form-control" id="inputGroupFile01">
      </div>
      <!--Enter Name-->
      <div class="row mb-3">
        <div class="input-group input-group-sm mb-3">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name" aria-label="Last name">
        </div>
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Age</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Location</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <h3>Basic Health Information</h3>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Height</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Weight</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Your Current Fitness Level</option>
            <option value="1">Couch Potato</option>
            <option value="2">Sunday Walker</option>
            <option value="3">Not Afraid to Sweat</option>
            <option value="4">See Me at the Gym</option>
            <option value="5">Somewhat of a Professional</option>
          </select>
          <label for="floatingSelect">Please choose</label>
        </div>
        <h3>Long Term Fitness Goals</h3>
        <div class="input-group input-group-sm mb-3">
          <span class="input-group-text" id="inputGroup-sizing-sm">Weight Loss Goal</span>
          <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="form-floating">
          <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
            <option selected>Select Your Desired Fitness Level</option>
            <option value="1">Couch Potato</option>
            <option value="2">Sunday Walker</option>
            <option value="3">Not Afraid to Sweat</option>
            <option value="4">See Me at the Gym</option>
            <option value="5">Somewhat of a Professional</option>
          </select>
          <label for="floatingSelect">Please choose</label>
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>

</div>