<h2>Graph Page</h2>

<h2>first graph</h2>
<div style="height:400px">
  <canvas id="myChart"></canvas>
</div>

<h2>second graph</h2>
<div style="height:400px">
  <canvas id="secondChart"></canvas>
</div>

<h3>third graph</h3>
<div style="height:400px">
  <canvas id="thirdChart"></canvas>
</div>

<script src="/js/graph.js"></script>