 <!-- If logged in main body of site -->
    <section class="container-fluid mt-4">
        <section class="row">
            <!-- Container for profile-pic -->
            <section class="col-lg-4">
                <section class="profile-pic">
                
                </section>
            </section>
            <!-- Container for Bio information -->
            <section class="col-lg-2">
                <section class="bio">
                    <h2>{{user.name}}</h2>
                    <p>Height: </p>
                    <p>{{user.height}}</p>
                    <p>Weight: </p>
                    <p>{{user.weight}}</p>
                    <p>Location:</p>
                    <p>{{user.location}}</p>
                </section>
            </section>
            <section class="col-lg-6">
                <section class="chart">
                <!-- Container for chart -->
                </section>
            </section>
        </section>
    </section>