<div>
  <h2>LOGIN PAGE</h2>
  <form id="login-form">
    <label for="username">Enter Your Username</label>
    <input type="text" id="username" />
    <label for="password">Enter Your Password</label>
    <input type="text" id="password" />
    <button id="form-submit">Submit</button>
  </form>
</div>

<script src="/js/login.js"></script>