<div class="container-fluid mt-4">
    <div class="col-lg-4 mx-auto">
      <h2>Login to your fitness journey..</h2>
      <form>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
    
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" />
        </div>
        <div class="mb-3 form-check">
        </div>
      </form>
    </div>
    <div class="mb-3 form-check">
      <button
        type="submit"
        class="btn btn-primary"
        id="loginBtn"
      >Login</button>
      <button
        type="submit"
        class="btn btn-primary"
        id="signupBtn"
      >Signup</button>
    </div>
  </form>
</div>

<script src="/js/login.js"></script>