    <div id ="profilecard">
        <h2>Welcome, Chris!</h4>
        <!--Profile Image location... will need to update to match user profile while logged in-->
        <img src="./assets/images/test-profile-inage.jpeg" class="img-thumbnail" alt="..." style="width: 200px; height: 200px;">
        <h4 id = "location">Madison, WI</h4>
        <h4 id = "currentweight">Current Weight: 300 lbs.</h4>
        <h4 id = "fitnessgoal">Fitness Goal: See Me at the Gym </h4>
    </div>