<div>
  <h2>SIGNUP PAGE</h2>
  <form id="login-form">
    <label for="username">Enter Your Username</label>
    <input type="text" id="username" />
    <label for="password">Enter Your Password</label>
    <input type="text" id="password" />
    <button id="formSubmit">Submit</button>
  </form>
</div>

<script src="/js/signup.js"></script>